<!-- is-closed -->
<div class="modal-overlay is-closed">
  <div class="animal-modal">
    <div class="сontent">
      <div class="product">
        <div class="column-image">
          <img src="../img/Product.jpg" alt="dog" />
        </div>
      </div>

      <div class="column">
        <div class="product-description">
          <div class="pet-header">
            <p class="animal-species">Собака</p>
            <div class="product-name"><h2>Джек</h2></div>
            <div class="pet-meta-tags">
              <div class="pet-meta-item">
                <p class="age">4 роки</p>
                <p class="gender">Хлопчик</p>
              </div>
            </div>
          </div>

          <div class="pet-description">
            <h3 class="pet-info-title">Опис:</h3>
            <p class="pet-info-text">
              Цей пухнастик має унікальну історію та чекає на люблячу родину.
              Його характер — спокійний та дружелюбний. Повністю здоровий,
              вакцинований, привчений до лотка. Ідеально ладнає з дітьми та
              іншими тваринами, тому стане чудовим другом для всієї сім'ї.
            </p>
          </div>

          <div class="pet-health">
            <h3 class="pet-info-title">Здоров'я:</h3>
            <p class="pet-info-text">
              Здоровий, кастрований, вакцинований. Потребує регулярного
              вичісування шерсті.
            </p>
          </div>

          <div class="pet-behavior">
            <h3 class="pet-info-title">Поведінка:</h3>
            <p class="pet-info-text">
              Бажано бути єдиною твариною в сім'ї. Не любить конкуренції за
              увагу.
            </p>
          </div>

          <form class="pet-form">
            <button type="submit" class="submit-btn">Взяти додому</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
