<section class="success-stories__section" id="stories">
    <div class="success-stories__container">

        <div class="success-stories__header">
            <h2 class="success-title">Щасливі історії, що надихають</h2>
            <p class="success-subtitle">
                Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
            </p>
        </div>
        <div class="swiper swiper__success-swiper" id="feedbacks-wrapper">

            <div class="swiper-wrapper" id="feedbacks-list">

            </div>

        </div>
        <div class="success-controls">

            <div class="success-swiper__pagination"></div>

            <div class="success-navigation">

                <button class="success-swiper__button-prev" aria-label="Попередній відгук">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#arrow_back"></use>
                    </svg>
                </button>

                <button class="success-swiper__button-next" aria-label="Наступний відгук">
                    <svg width="24" height="24">
                        <use href="/img/icons.svg#arrow_forward"></use>
                    </svg>
                </button>

            </div>
        </div>

    </div>
</section>