/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./hero.css');
@import url('./pets-list.css');
@import url('./about-us.css');
@import url('./faq.css');
@import url('./success-stories.css');
@import url('./animal-details-modal.css');
@import url('./order-modal.css');
@import url('./footer.css');

#global-loader {
  position: fixed;
  inset: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.7);

  z-index: 9999;
}

.is-hidden {
  display: none !important;
}

.loader {
  width: 60px;
  height: 60px;

  border: 6px solid #fff4df;
  border-top: 6px solid #f6b83d;

  border-radius: 50%;

  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}